<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/Application/cockroach.png" type="image/x-icon" />
    @Styles.Render("~/Content/layout-home")
    @RenderSection("css", false)
</head>
<body>
    <nav class="navigation-main navigation-fixed nav navbar-inverse">
        <div class="navbar-header navigation-header">
            <a href=@Url.Action("Index","Home")><img src="/content/images/website/banner-web.png"></a>
        </div>
        <ul class="navigation-list">
            <li><a data-target-id="home" class="navbar-link" href=@Url.Action("Index","Home")>Home</a></li>
            <li><a data-target-id="documentation" class="navbar-link" href=@Url.Action("Documentation","Home")>Documentation</a></li>
            <li><a data-target-id="login" class="navbar-link" href=@Url.Action("Index","User")>My Applications</a></li>
            <li><a data-target-id="support" class="navbar-link" href=@Url.Action("Support", "Home")>Support</a></li>
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/layout-home")
    @RenderSection("scripts", false)
</body>
</html>