@model BugTracker.Domain.Entity.Application
@{
    ViewBag.Title = "details";
}
<div class="panel panel-success col-md-7 box">
    <div class="panel-heading">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
    </div>
    <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Special Tag</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SpecialTag)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Url)
                        </td>
            </table>
    </div>
        <img src="~/Content/Images/Application/@Html.DisplayFor(model => model.Image)" class="icon details" />
        <a href="~/Application/RegisterApp/@Model.IDApplication" type="button" class="btn btn-success">Edit @Model.Title</a>
        <a href="~/User" type="button" class="btn btn-default">Back Home</a>
        <a href="~/Application/DeleteApp/@Model.IDApplication" type="button" class="btn btn-danger">Delete @Model.Title</a>
        <a href="#" type="button" class="btn btn-danger">Graphics</a>
    </div>

        

        