@model List<Interface.Presentation.Models.BugTracker.BugTrackerViewModel>

    <ul>


    @foreach (var bug in Model)
    {

            <li>@bug.Trace</li>
        <li>@bug.Status</li>
    <li>@bug.OccuredDate.ToString("dd/MM/yyyy HH:mm")</li>
    <li>@bug.Tags </li>
    <li>@bug.Browser.Name</li>
    <li>@bug.Browser.Version</li>
    <li>@bug.OperationalSystem.Name</li>

    }
</ul>

