@model List<Interface.Presentation.Models.Application.ApplicationAndBugsViewModel>

@{
    ViewBag.Title = "home";
}
<html>
<body>

    <div class="panel panel-success col-md-7 box">
        <div class="panel-heading">
            <h4>Your applications:</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                
                <form action="~/User/Search/" method="post">
                    <input type="text" class="form-control" name="name" placeholder="App name...">
                    <input href="~/User/Search/" class="btn btn-success col-sm-2 glyphicon glyphicon-zoom-in" type="submit" value="Search"/>
                </form>
               
                <a href="~/Application/RegisterApp/" class="btn btn-success col-sm-2">New App</a>
            </div>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>App Name</th>
                        <th>Last Track</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Content/Images/Application/@item.AppImage" class="icon list" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppName)
                            </td>
                            <td>
                                 @Html.DisplayFor(modelItem => item.Bug.Description)
                            </td>
                            <td>
                                @try
                                {
                                    @Html.DisplayFor(modelItem => item.Bug.OccurredDate.ToString("dd/MM/yyyy"))
                                } catch(Exception e)
                                {
                                    @Html.DisplayFor(modelItem => item.Bug.OccurredDate)
                                }
                            </td>
                            <td><a href="~/Application/DetailsApp/@item.AppId" class="glyphicon glyphicon-th-list" alt="Detalhes"></a></td>
                            <td><a href="~/Application/RegisterApp/@item.AppId" class="glyphicon glyphicon-pencil" alt="Editar"></a></td>
                            <td><a href="~/Application/DeleteApp/@item.AppId" class="glyphicon glyphicon-trash" alt="Exlcuir"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="panel panel-success col-md-4 box">
        <div class="panel-heading">
            <h4>Today</h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>App Name</th>
                        <th>Warnings</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="#"></a>@Html.DisplayFor(modelItem => item.AppName)</td>
                                <td><span class="glyphicon glyphicon-alert warnings"></span>@item.TracksCountWarning</td>
                                <td><span class="glyphicon glyphicon-alert errors"></span>@item.TracksCountError</td> 
                            </tr>
                        }
                </tbody>
                </table>
        </div>
    </div>

    <script src="../Scripts/Custom/graphics/graphics.js"></script>
    
    </body>
</html>